@import "../mixins.scss";
@import "../constants.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;

    .error {
        color: $color-primary;
        text-align: center;
    }

    input[type="submit"] {
        @include button;
    }
}
