@import "./colors.scss";

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  > * {
    align-items: center;
    border: 1px solid #eaeaea;
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: 120ms;

    &:hover {
      border: 1px solid transparent;
      box-shadow: 0px 8px 30px 0px #0000001f;
    }
  }
}

@media screen and (max-width: 700px) {
  .button_row {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    padding: 2rem 5%;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #151515;
    color: #ffffff;

    h1 .my_name {
      color: $color-primary-on-dark;
    }
  }

  section {
    > h1 {
      text-align: center;
      font-family: NotoSans-Bold;
      padding: 1rem 0;
    }
  }

  section.contacts {
    max-width: 1300px;

    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin-bottom: 0;
    }
  }

  section.about_me {
    max-width: 1500px;

    .row {
      display: flex;
      flex-direction: row;
      font-size: 1.7rem;

      > * {
        margin: 1rem 2rem;
      }

      > :nth-child(1) {
        padding: 1rem 0;
        flex: 1;
      }
    }
  }

  section.projects {
    max-width: 1300px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: stretch;

      > * {
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0px 1px 7px 0px #0000001f;
        cursor: pointer;

        &:nth-child(1) {
          background: linear-gradient(160deg, #fff5f5, #f5f5f5);
        }

        &:nth-child(2) {
          background: linear-gradient(160deg, #f5f5ff, #f5f5f5);
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    section.about_me .row,
    section.projects .row {
      flex-direction: column;
      align-items: center;

      > * {
        margin: 1rem 0;
      }
    }
  }
}
