@import "./components.scss";
@import "./constants.scss";

/* Loading page */
.loading_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading_retry {
    @include button;
}

/* Account page */
.message {
    color: $color-primary;
}

.label {
    font-size: 0.7em;
}

.entry {
    font-size: 1.6em;
    padding-bottom: 1rem;
}

.logout {
    @include button;
}
